main div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #CDD6D0;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 95%;
}

table th {
    padding: 8px;
    text-align: center;
    background-color: #AA4465;
    color: #CDD6D0;

}

td {
    border-collapse: collapse;
    border: 2px solid #ddd;
}


td img {
    width: 75px;
    height: 75px;
    border: 3px solid #CDD6D0;
    border-radius: 50%;
}

.title {
    text-align: center;
    display: block;
    margin-bottom: 10px;

}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Caja blanca del modal */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-close {
    background-color: #dc3545;
    color: white;
}

.btn-close:hover {
    background-color: #c82333;
}

.filter {
    display: block;
    margin-bottom: 10px;
    width: 75%;
    padding: 5px;
}

.filter-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}