html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #AA4465;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1%;
}

a {
    color: #CDD6D0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

img {
    width: 10%;
    border: 3px solid #CDD6D0;
    border-radius: 10%;
}

footer {
    position: sticky;
    background-color: #AA4465;
    color: white;
    text-align: center;
    padding: 1%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
}

h1 {
    margin-left: 2%;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-redes {
    width: 10%;
    height: 10%;
    display: flex;
    justify-items: center;
}

.redes {
    padding: 5%;
    width: 90%;
    border-radius: 50%;
}
